<div class="row">
    <div class="content">
        <div class="row flex justify-content-center">
            <div class="col-md-4">
                <div class="form-group">
                    <label>{{msg.lbl_forms_code}}</label>
                    <input type="text" class="form-control border-input" placeholder="{{msg.lbl_forms_code}}">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>{{msg.lbl_forms_name}}</label>
                    <input type="text" class="form-control border-input" placeholder="{{msg.lbl_forms_name}}">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row flex justify-content-center">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 text-center">
        <div class="m-3 pt-1">
            <p-button id="btnQuery" (click)="find()" class="w100" label="{{msg.lbl_btn_consultar}}"
                icon="pi pi-search"></p-button>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 text-center">
        <div class="m-3 pt-1">
            <p-button class="w100" label="{{msg.lbl_btn_crear}}" (click)="toCreate()"
                styleClass="p-button-outlined p-button-danger" icon="pi pi-plus"></p-button>
        </div>
        <p-dialog header="{{title}} - {{msg.lbl_menu_gestion}}" [(visible)]="showPnlEdit" [modal]="true"
            [style]="{ width: '50vw' }" [draggable]="false" (onHide)="find()" [resizable]="false">
            <app-provider-edit [provider]="selectedProvider" (saveEvent)="save($event)"></app-provider-edit>
        </p-dialog>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <p-table [value]="list" [tableStyle]="{'min-width': '60rem'}">
            <ng-template pTemplate="caption">
                <div class="flex align-items-center justify-content-between">
                    {{title}}
                    <p-button icon="pi pi-refresh"></p-button>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th scope="col" class="text-center">Código</th>
                    <th scope="col" class="text-center">Nombre</th>
                    <th scope="col" class="text-center">Descripción</th>
                    <th scope="col" class="text-center">Color</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-element>
                <tr>
                    <td class="text-center">{{element.code}}</td>
                    <td>{{element.name}}</td>
                    <td>{{element.description}}</td>
                    <td class="text-center">
                        <p-tag [style]="{ 'background': element.color }">
                            <div class="flex align-items-center gap-2">
                                <i class="pi pi-palette"></i>
                            </div>
                        </p-tag>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="flex align-items-center justify-content-between">
                    Hay un total de {{list ? list.length : 0 }} elementos.
                </div>
            </ng-template>
        </p-table>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <p-messages></p-messages>
            </div>
        </div>
    </div>
</div>