<div *ngIf="bill && bill.concepts" class="card">
    <div class="content">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 text-left">
                        <img alt="bill-logo" class="bill-logo" src="/assets/img/logo.png" />
                    </div>
                </div>

                <br />

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 text-left">
                        <div class="font-bold">Proveedor:</div>
                        {{bill.provider.name}}<br>
                        {{bill.provider.document_number}}<br>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 text-right">
                        <div class="font-bold">Cliente:</div>
                        {{bill.client.name}}<br>
                        {{bill.client.document_number}}<br>
                    </div>
                </div>

                <br />

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 text-left">
                        <div class="font-bold">Método de Pago:</div>
                        {{bill.payment_method}}<br>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 text-right">
                        <div class="font-bold">Fecha:</div>
                        Marzo 7, 2023<br><br>
                    </div>
                </div>
            </div>
        </div>

        <br />

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <p-table [value]="bill.concepts" responsiveLayout="stack" [tableStyle]="{'min-width': '80rem'}">
                    <ng-template pTemplate="header">
                        <tr>
                            <th scope="col" class="text-center">#</th>
                            <th scope="col" class="text-center">Concepto</th>
                            <th scope="col" class="text-center">Descripción</th>
                            <th scope="col" class="text-center">Cantidad</th>
                            <th scope="col" class="text-center">Valor Unitario</th>
                            <th scope="col" class="text-center">Valor Total</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-concept>
                        <tr>
                            <td><span class="font-bold">{{concept.code}}: </span>{{concept.concept}}</td>
                            <td>{{concept.description}}</td>
                            <td>{{concept.quantity}}</td>
                            <td>{{concept.amount | currency:'USD'}}</td>
                            <td>{{concept.total_amount | currency:'USD'}}</td>
                            <td><p-tag [value]="concept.inventoryStatus" [severity]="'warning'"></p-tag></td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="summary">
                        <div class="flex align-items-center justify-content-between">
                            Hay un total de {{bill.concepts ? bill.concepts.length : 0 }} elementos.
                        </div>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</div>