<div *ngIf="product" class="card">
    <div class="content">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-2">
                <div class="form-group">
                    <label>{{msg.lbl_forms_id}}</label>
                    <input type="text" class="form-control border-input" disabled placeholder="{{msg.lbl_forms_id}}"
                        [(ngModel)]="product._id">
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="form-group">
                    <label>{{msg.lbl_forms_code}}</label>
                    <input type="text" class="form-control border-input" placeholder="{{msg.lbl_forms_code}}"
                        [(ngModel)]="product.code">
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group">
                    <label>{{msg.lbl_forms_name}}</label>
                    <input type="text" class="form-control border-input" placeholder="{{msg.lbl_forms_name}}"
                        [(ngModel)]="product.name">
                </div>
            </div>
        </div>

        
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="form-group">
                    <label>{{msg.lbl_forms_type}}</label>
                    <p-dropdown [options]="productTypes" [(ngModel)]="product.type"
                        [filter]="true" filterBy="label" [showClear]="false" optionLabel="label"></p-dropdown>
                </div>
            </div>                                    
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="form-group">
                    <label>{{msg.lbl_forms_unit}}</label>
                    <p-dropdown [options]="unitTypes" [(ngModel)]="product.unit"
                        [filter]="true" filterBy="label" [showClear]="false" optionLabel="label"></p-dropdown>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="form-group">
                    <label>{{msg.lbl_forms_category}}</label>
                    <p-dropdown [options]="categories" [(ngModel)]="product.category"
                        [filter]="true" filterBy="label" [showClear]="false" optionLabel="label"></p-dropdown>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="form-group">
                    <label>{{msg.lbl_forms_stock}}</label>
                    <div class="row">
                        <p-inputNumber [(ngModel)]="product.stock" [showButtons]="true" buttonLayout="horizontal" inputId="horizontal" spinnerMode="horizontal" [step]="1"
                            decrementButtonClass="p-button-danger" incrementButtonClass="p-button-success" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus" [min]="0" [max]="1000"></p-inputNumber>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="form-group">
                    <label>{{msg.lbl_forms_stock_min}}</label>
                    <div class="row">
                        <p-inputNumber [(ngModel)]="product.stock_min" [showButtons]="true" buttonLayout="horizontal" inputId="horizontal" spinnerMode="horizontal" [step]="1"
                            decrementButtonClass="p-button-danger" incrementButtonClass="p-button-success" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus" [min]="0" [max]="1000"></p-inputNumber>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="form-group">
                    <label>{{msg.lbl_forms_stock_max}}</label>
                    <div class="row">
                        <p-inputNumber [(ngModel)]="product.stock_max" [showButtons]="true" buttonLayout="horizontal" inputId="horizontal" spinnerMode="horizontal" [step]="1"
                            decrementButtonClass="p-button-danger" incrementButtonClass="p-button-success" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus" [min]="0" [max]="1000"></p-inputNumber>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="form-group">
                    <label>{{msg.lbl_forms_price}}</label>
                    <div class="row">
                        <p-inputNumber [(ngModel)]="product.price" [showButtons]="true" buttonLayout="horizontal" inputId="horizontal" spinnerMode="horizontal" [step]="50.00"
                            decrementButtonClass="p-button-danger" incrementButtonClass="p-button-success" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus" 
                            locale="en-US" mode="currency" currency="USD"></p-inputNumber>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="form-group">
                    <label>{{msg.lbl_forms_sales_price}}</label>
                    <div class="row">
                        <p-inputNumber [(ngModel)]="product.sale_price" [showButtons]="true" buttonLayout="horizontal" inputId="horizontal" spinnerMode="horizontal" [step]="50.00"
                            decrementButtonClass="p-button-danger" incrementButtonClass="p-button-success" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus" 
                            locale="en-US" mode="currency" currency="USD"></p-inputNumber>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>{{msg.lbl_forms_description}}</label>
                    <textarea rows="5" class="form-control border-input" placeholder="{{msg.lbl_forms_description}}"
                        [(ngModel)]="product.description"></textarea>
                </div>
            </div>
        </div>

        <div class="row flex justify-content-center">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 text-center">
                <div class="m-3 pt-1">
                    <p-button (click)="save()" class="w100"
                        label="{{phase === phaseCreate ? msg.lbl_btn_crear : msg.lbl_btn_editar}}"
                        icon="pi pi-save"></p-button>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <p-messages></p-messages>
            </div>
        </div>
    </div>
</div>