<p-toast></p-toast>

<div class="wrapper">
	<!-- HEADER -->
	<app-sidebar></app-sidebar>
	<!-- HEADER -->

	<div class="main-panel">
		<!-- HEADER -->
		<app-header></app-header>
		<!-- HEADER -->

		<!-- CONTENT -->
		<div class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<div class="card">
							<div class="card-header {{empresa && empresa.idEmpresa > 0 ? 'header-color-custom' : 'card-header-primary'}}"
								[ngStyle]="{'background-color': empresa ? empresa.color : 'black'}">
								<div class="row justify-content-right">
									<div class="col-md-6">
										<h4 class="card-title {{empresa && empresa.idEmpresa > 0 ? 'text-white' : ''}}">
											{{msg.lbl_contactos}}</h4>
										<p
											class="card-category {{empresa && empresa.idEmpresa > 0 ? 'text-white' : ''}}">
											{{msg.lbl_contactos_consulta_subtitles}}</p>
									</div>
									<div class="col-md-2">
										<img alt="img" *ngIf="empresa && empresa.idEmpresa > 0" class="imgMiniEmpresa"
											src="../assets/images/empresas/{{empresa.idEmpresa}}.jpg" />
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label
												class="bmd-label-floating card-category text-white">{{msg.lbl_empresas}}</label>
											<select id="selectEmpresa" [attr.data-value]="empresa"
												[(ngModel)]="empresa">
												<option *ngFor="let empresa of listaEmpresas" [ngValue]="empresa">
													{{empresa.nombre}}</option>
											</select>
										</div>
									</div>
								</div>
							</div>
							<div class="card-body">
								<p-table *ngIf="listaContactos && listaContactos.length > 0; else sinResultados" #dt
									[columns]="cols" [value]="listaContactos" dataKey="id" [rows]="rows"
									[rowsPerPageOptions]="enumRows" [showCurrentPageReport]="true"
									responsiveLayout="stack" [paginator]="true" paginatorPosition="both"
									styleClass="table p-datatable-striped p-datatable-sm"
									currentPageReportTemplate="Registros {first} al {last} de {totalRecords}">
									<ng-template pTemplate="caption">
										<div class="p-d-flex">
											<button type="submit" class="btn btn-info" routerLink="/m-contacto"><i
													aria-hidden="true"
													class="pi pi-user-plus m-1"></i>{{msg.lbl_btn_crear}}</button>
											<div class="clearfix"></div>
											<button type="submit" class="btn btn-default" (click)="dt.exportCSV()"
												pTooltip="Descargar CSV" tooltipPosition="bottom"><i aria-hidden="true"
													class="pi pi-file-o m-1"></i></button>
											<div class="clearfix"></div>
											<button type="submit" class="btn btn-danger" (click)="exportPdf()"
												pTooltip="Descargar PDF" tooltipPosition="bottom"><i aria-hidden="true"
													class="pi pi-file-pdf m-1"></i></button>
											<div class="clearfix"></div>
											<button type="submit" class="btn btn-success" (click)="exportExcel()"
												pTooltip="Descargar Excel" tooltipPosition="bottom"><i
													aria-hidden="true" class="pi pi-file-excel m-1"></i></button>
											<div class="clearfix"></div>
										</div>
									</ng-template>
									<ng-template pTemplate="header" let-columns>
										<tr class="text-primary">
											<th scope="col" style="width: 40px;" class="text-center">
												<!-- <p-checkbox (click)="seleccionarTodosContactos()"
													[(ngModel)]="seleccionarTodos" [binary]="true" inputId="binary">
												</p-checkbox> -->
											</th>
											<th scope="col" style="width: 40px;" class="td-actions text-center">
												<button type="button" (click)="enviarEmailTodos($event)"
													class="btn btn-primary btn-link btn-sm">
													<i aria-hidden="true" class="material-icons"
														style="font-size: 28px;margin-top: -25px;">mark_as_unread</i>
												</button>
												<p-confirmPopup
													[style]="{'color' :  '#fff', 'background-color': empresa && empresa.color ? empresa.color+'54' : '#1d2225'}">
												</p-confirmPopup>
											</th>
											<th scope="col" style="width: 40px;" class="text-center">
												<i aria-hidden="true" class="material-icons">tag</i>
											</th>
											<th scope="col" class="text-center" *ngFor="let col of columns">
												<div *ngIf="col.header !== msg.lbl_table_header_proceso && col.header !== msg.lbl_table_header_industria"
													pSortableColumn="contactoTB.{{[col.field]}}">{{col.header}}
													<p-sortIcon field="contactoTB.{{[col.field]}}"></p-sortIcon>
												</div>
												<div *ngIf="col.header === msg.lbl_table_header_proceso || col.header === msg.lbl_table_header_industria"
													pSortableColumn="contactoTB.{{[col.field]}}.label">{{col.header}}
													<p-sortIcon field="contactoTB.{{[col.field]}}.label"></p-sortIcon>
												</div>
												<p-columnFilter
													*ngIf="col.header !== msg.lbl_table_header_proceso && col.header !== msg.lbl_table_header_industria"
													matchMode="contains" type="text" field="contactoTB.{{[col.field]}}">
												</p-columnFilter>
												<p-columnFilter
													*ngIf="col.header === msg.lbl_table_header_proceso || col.header === msg.lbl_table_header_industria"
													matchMode="contains" type="text"
													field="contactoTB.{{[col.field]}}.label">
												</p-columnFilter>
											</th>
									</ng-template>
									<ng-template pTemplate="body" let-contacto let-columns="columns">
										<tr>
											<td class="text-center">
												<span class="text-primary p-column-title">Seleccionar</span>
												<p-checkbox (click)="validarSeleccionarTodos()"
													[(ngModel)]="contacto.seleccionado" [binary]="true"
													inputId="binary">
												</p-checkbox>
											</td>
											<td class="td-actions text-center">
												<span class="text-primary p-column-title">Contactar</span>
												<button type="button" [disabled]="!contacto.seleccionado"
													(click)="enviarEmail($event, contacto.contactoTB)"
													class="btn btn-primary btn-link btn-sm">
													<p-confirmPopup
														[style]="{'color' : '#fff', 'background-color': empresa && empresa.color ? empresa.color+'54' : '#1d2225'}">
													</p-confirmPopup>
													<i aria-hidden="true" class="material-icons"
														style="font-size: 25px;margin-top: -15px;">mail</i>
												</button>
											</td>
											<td class="text-center" (click)="cargarContacto(contacto.contactoTB)">
												<span class="text-primary p-column-title">#</span>
												{{contacto.contactoTB.idContacto}}
											</td>
											<td class="text-center" *ngFor="let col of columns"
												(click)="cargarContacto(contacto.contactoTB)">
												<span class="text-primary p-column-title">{{col.header}}</span>

												<span
													*ngIf="col.header !== msg.lbl_table_header_proceso && col.header !== msg.lbl_table_header_industria">{{contacto.contactoTB[col.field]}}</span>
												<span *ngIf="col.header === msg.lbl_table_header_proceso"
													class="badge badge-{{cargarColorBadge(contacto.contactoTB[col.field].value)}}">{{contacto.contactoTB[col.field].label}}</span>
												<span
													*ngIf="col.header === msg.lbl_table_header_industria">{{contacto.contactoTB[col.field].label}}</span>
											</td>
										</tr>
									</ng-template>
								</p-table>
								<ng-template #sinResultados>
									<div class="service-grids">
										<div class="col-md-12 ser-grid">
											<p class="sinResultados">
												{{msg.lbl_info_sin_resultados}}</p>
										</div>
									</div>
								</ng-template>
							</div>
						</div>

						<div class="card card-stats">
							<div class="card-header card-header-info card-header-icon">
								<div class="card-icon">
									<i aria-hidden="true" class="material-icons">nat</i>
								</div>
								<p class="card-category">{{msg.lbl_procesos}}</p>
							</div>
							<div class="card-footer">
								<div class="stats">
									<div class="row" style="padding: 0 10px;">
										<span class="badge badge-secondary margin-5px">Prospecto</span>
										<span class="badge badge-primary margin-5px">Contacto</span>
										<span class="badge badge-success margin-5px">Cliente</span>
										<span class="badge badge-danger margin-5px">Cliente Perdido</span>
										<span class="badge badge-warning margin-5px">Potencial Pérdida</span>
										<span class="badge badge-info margin-5px">Cambio Info.</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- CONTENT -->

		<!-- FOOTER -->
		<app-footer></app-footer>
		<!-- FOOTER -->
	</div>
</div>