<div class="sidebar" data-background-color="white" data-active-color="info">
    <div class="sidebar-wrapper">
        <div class="logo">
            <img alt="logo" class="sidebar-logo" src="../../../../assets/img/logo.png" />
        </div>

        <ul class="nav">
            <li (click)="selectMenu(item)" *ngFor="let item of menu" class="item {{item.active ? 'active' : ''}}">
                <a class="w100 display-flex">
                    <i class="{{item.icon}}"></i>
                    <p>{{item.title}}</p>
                    <p>{{item.subtitle}}</p>
                </a>
            </li>
        </ul>
        <div class="sidebar-background" style="background-image: url(../assets/img/template/sidebar.jpg) "></div>
    </div>
</div>